<div class="filters">
  <div class="ui-group">
    <h3>Categories</h3>
    <div class="button-group text-center" data-filter-group="category">
        <div class="filter">
            <button class="active button" data-filter="">All</button>
            {% assign all_categories_str = "" %}
            {% for competency in site.data.competencies %}
            {% assign all_categories_str = all_categories_str | append:competency.category | append: "," %}
            {% endfor %}
            {% assign all_categories = all_categories_str | split: "," %}
            {% assign uniq_categories = all_categories | uniq %}
            {% for category in uniq_categories %}
              <button class="button" data-filter=".{{ category | slugify }}">{{ category }}</button>
            {% endfor %}
        </div>
    </div>
  </div>
  <div class="ui-group">
    <h3>Levels</h3>
    <div class="button-group text-center" data-filter-group="level">
        <div class="filter">
            <button class="active button" data-filter="">All</button>
            {% for competency in site.data.competencies %}
            {% assign all_levels = all_levels | concat: competency.levels %}
            {% endfor %}
            {% assign uniq_levels = all_levels | uniq %}
            {% for level in uniq_levels %}
              <button class="button" data-filter=".{{ level | slugify }}">{{ level }}</button>
            {% endfor %}
        </div>
    </div>
  </div>
</div>

<div class="grid-main">
  <div class="grid-container">
    {% assign count = 0 %}
    {% for competency in site.data.competencies %}
    {% assign count = count | plus: 1 %}
    {% capture levels %}{% for level in competency.levels %}{{ level | slugify }} {% endfor %}{% endcapture %}

    <div class="col_4 grid-item {{ competency.category | slugify }} {{ levels }}">
      <a href="#ex{{ count }}" rel="modal:open">{{ competency.title }}</a>
      <div class="categories">

        <span class="category {{ competency.category | slugify }}">{{ competency.category }}</span>

      </div>
      <div class="levels">
        {% for level in competency.levels %}
        <span class="level {{ level | slugify }}">{{ level }}</span>
        {% endfor %}
      </div>
  </div> <!-- End grid-item -->
  <!-- The Modal -->
  <div id="ex{{ count }}" class="modal">
    <h4>{{ competency.title }}</h4>
    <p>{{ competency.description }}</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  {% endfor %}
  </div> <!-- End grid-container -->
</div> <!-- End grid-main -->
