<div id="filters">
  <!--<div class="ui-group">-->
    <h3>Categories</h3>
    <!--<div class="button-group text-center" data-filter-group="category">
        <div class="filter">
            <button class="active button" data-filter="">All</button>-->
            <div class="option-set" data-group="category">
              <input type="checkbox" value="" id="category-all" class="all" checked /><label for="category-all">All Categories</label>
            {% assign all_categories_str = "" %}
            {% for skill in site.data.skills %}
              {% assign all_categories_str = all_categories_str | append:skill.category | append: "," %}
            {% endfor %}
            {% assign all_categories = all_categories_str | split: "," %}

            {% assign uniq_categories = all_categories | uniq %}
            {% assign count = 0 %}
            {% for category in uniq_categories %}
              {% assign count = count | plus:1 %}
              {% assign cat = category | slugify %}
                <input type="checkbox" value=".{{ cat }}" id="{{ cat }}" /><label class="category{{ count }}" for="{{ cat }}">{{ category }}</label>
              <!--  <button class="button" data-filter=".{{ category | slugify }}">{{ category }}</button>-->
            {% endfor %}
            </div>
        <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="ui-group">-->
    <h3>Levels</h3>
    <!--<div class="button-group text-center" data-filter-group="level">
        <div class="filter">-->
            <!--<button class="active button" data-filter="">All</button>-->
            <div class="option-set" data-group="level">
              <input type="checkbox" value="" id="level-all" class="all" checked /><label for="level-all">All levels</label>
            {% for skill in site.data.skills %}
            {% assign all_levels = all_levels | concat: skill.levels %}
            {% endfor %}
            {% assign uniq_levels = all_levels | uniq %}
            {% for level in uniq_levels %}
              {% assign lev = level | slugify %}
              <!--<button class="button" data-filter=".{{ level | slugify }}">{{ level }}</button>-->
              <input type="checkbox" value=".{{ lev }}" id="{{ lev }}" /><label for="{{ lev }}">{{ level }}</label>
            {% endfor %}
            </div>
      <!--  </div>
    </div>-->
  <!--</div>-->
  <h3>Roles</h3>
  <!--<div class="button-group text-center" data-filter-group="level">
      <div class="filter">-->
          <!--<button class="active button" data-filter="">All</button>-->
          <div class="option-set" data-group="role">
            <input type="checkbox" value="" id="role-all" class="all" checked /><label for="role-all">All roles</label>
          {% for skill in site.data.skills %}
          {% assign all_roles = all_roles | concat: skill.roles %}
          {% endfor %}
          {% assign uniq_roles = all_roles | uniq %}
          {% for role in uniq_roles %}
            {% assign roleslug = role | slugify %}
            <!--<button class="button" data-filter=".{{ level | slugify }}">{{ level }}</button>-->
            <input type="checkbox" value=".{{ roleslug }}" id="{{ roleslug }}" /><label for="{{ roleslug }}">{{ role }}</label>
          {% endfor %}
          </div>
    <!--  </div>
  </div>-->
<!--</div>-->
</div><!-- End filters -->

<div class="grid-main">
  <div class="grid-container">

    {% assign size = site.data.skills | size %}
    {% assign skills = site.data.skills | sort: "title" %}
    {% for skill in skills %}
    {% capture levels %}{% for level in skill.levels %}{{ level | slugify }} {% endfor %}{% endcapture %}
    {% capture roles %}{% for role in skill.roles %}{{ role | slugify }} {% endfor %}{% endcapture %}
    {% for category in uniq_categories %}
      {% if category == skill.category %}
        {% assign style = forloop.index0 %}
        {% break %}
      {% endif %}
    {% endfor %}
    <a href="#ex{{ count }}" rel="modal:open"><div class="col_2 grid-item category{{style}} {{ skill.category | slugify }} {{ levels }} {{ roles }}">
      <div class="grid-item-text-box center"><h3 class="center">{{ skill.title }}</h3></div>



  </div></a> <!-- End grid-item -->
  <!-- The Modal -->
  <div id="ex{{ count }}" class="modal">
    <h4>{{ skill.title }}</h4>
    <div class="categories">
      <span class="category {{ skill.category | slugify }}">{{ skill.category }}</span>
    </div>
    <p>{{ skill.description }}</p>
    <div class="roles">
      <h5>Roles</h5>
      {% for role in skill.roles %}
      <span class="role {{ role | slugify }}">{{ role }}</span>
      {% endfor %}
    </div>
    <h5>Levels</h5>
    <div class="levels">
      {% for level in skill.levels %}
      <span class="level {{ level | slugify }}">{{ level }}</span>
      {% endfor %}
    </div>
    <a href="#" rel="modal:close">Close</a>
  </div>
  {% if count == size %}{% assign count = 0 %}{% endif %}
  {% endfor %}
  </div> <!-- End grid-container -->
</div> <!-- End grid-main -->
