<div class="button-group text-center">
    <div class="filter">
        <button class="active button" data-filter="*">All</button>
        {% for competency in site.data.competencies %}
        {% assign all_tags = all_tags | concat: competency.tags %}
        {% endfor %}
        {% assign uniq_tags = all_tags | uniq %}
        {% for tag in uniq_tags %}
          <button class="button" data-filter=".{{ tag | slugify }}">{{ tag }}</button>
        {% endfor %}
    </div>
</div>

<div class="grid-main">
  <div class="grid-container">
    {% assign count = 0 %}
    {% for competency in site.data.competencies %}
    {% assign count = count | plus: 1 %}
      {% capture tags %}{% for tag in competency.tags %}{{ tag | slugify }} {% endfor %}{% endcapture %}

    <div class="col_4 grid-item {{ tags }}">
      <a href="#ex{{ count }}" rel="modal:open">{{ competency.title }}</a>

      <!-- The Modal -->
      <div id="ex{{ count }}" class="modal">
        <h4>{{ competency.title }}</h4>
        <p>{{ competency.description }}</p>
        <a href="#" rel="modal:close">Close</a>
      </div>
      <div class="tags">
        {% for tag in competency.tags %}
        <span class="tag {{ tag | slugify }}">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <!--etc. -->
  </div>
</div>
