<!--<div id="menu" >-->
<ul class="menu">
<li><a href="{{ '/'| relative_url }}">Home</a></li>
<li><a href="{{ '/skills'| relative_url }}">Skills analysis tool</a></li>
<li><a href="{{ '/skills-by-role'| relative_url }}">Skills by role <i class="fas fa-caret-down"></i></a>
	<ul>
	<li><a href="{{ '/skills-by-role/ew-skills' | relative_url }}">Extension workers</a></li>
	<li><a href="{{ '/skills-by-role/ad-skills'| relative_url }}">Agri-dealer employees</a></li>
	<li><a href="{{ '/skills-by-role/pd-skills'| relative_url }}">Plant doctors</a></li>
	</ul>
	</li>
<li><a href="{{ '/table'| relative_url }}">Skills table</a></li>
<li><a href="{{ '/categories'| relative_url }}">All skills by category</a></li>
<li><a href="{{ '/about'| relative_url }}">About <i class="fas fa-caret-down"></i></a>
	<ul>
		<li><a href="{{ '/about/examples-and-uses' | relative_url }}">Examples and uses</a></li>
	</ul>
	</li>
<li><a href="{{ '/join-us'| relative_url }}">Join us</a></li>
</ul>
<!--</div><!-- End #menu -->
