<div id="menu" >
<ul class="menu">
<li class="current"><a href="/">Home</a></li>
<li><a href="/skills">Skills</a>
	<ul>
	<li><a href=""><i class="fa fa-cog"></i> Extension workers</a></li>
	<li><a href=""><i class="fa fa-envelope"></i> Agri-dealer employees</a></li>
	<li><a href=""><i class="fa fa-envelope"></i> Plant doctors</a></li>
	</ul>
	</li>
<li><a href="/categories">Categories</a></li>
<li><a href="/about">About</a></li>
<li><a href=""><i class="fa fa-inbox"></i> Item 3</a>
	<ul>
	<li><a href=""><i class="fa fa-cog"></i> Sub Item</a></li>
	<li><a href=""><i class="fa fa-envelope"></i> Sub Item</a>
		<ul>
		<li><a href=""><i class="fa fa-wrench"></i> Sub Item</a></li>
		<li><a href=""><i class="fa fa-camera-retro"></i> Sub Item</a></li>
		<li><a href=""><i class="fa fa-coffee"></i> Sub Item</a></li>
		<li><a href=""><i class="fa fa-twitter"></i> Sub Item</a></li>
		</ul>
	</li>
	<li class="divider"><a href=""><i class="fa fa-trash"></i> li.divider</a></li>
	</ul>
</li>
<li><a href="">Item 4</a></li>
</ul>
</div><!-- End #menu -->
