{% assign count = 0 %}

{% assign supporter-list = site.data.supporters | sort:"name" %}
{% for supporter in supporter-list %}
{% if count == 0 %}<div class="vcenter">{% endif %}
<div class="col_3 center">
  {% assign count = count | plus:1 %}
  {% capture logo_url %}{{ '/assets/logos/' | relative_url }}{{ supporter.img }}{% endcapture %}
  <a href="{{ supporter.url }}" target="_blank"><img src="{{ logo_url }}" alt="{{ supporter.name }} logo"/></a>
</div>
{% if count == 4 %}{% assign count = 0 %}</div><!-- end vcenter --><div class="clear">xx</div>{% endif %}
{% endfor %}
</div>
