<h3 class="center">Contributors</h3>

{% assign count = 0 %}

{% assign supporter-list = site.data.supporters | sort:"name" %}
{% for supporter in supporter-list %}
{% if supporter.active %}
{% if count == 0 %}<div class="vcenter">{% assign vc=1 %}{% endif %}
<div class="col_3 center">
  {% assign count = count | plus:1 %}
  {% capture logo_url %}{{ '/assets/logos/' | relative_url }}{{ supporter.img }}{% endcapture %}
  <a href="{{ supporter.url }}" target="_blank" title="{{ supporter.name }}"><img src="{{ logo_url }}" alt="{{ supporter.name }} logo"/></a>
</div>
{% if count == 4 %}{% assign count = 0 %}</div>{% assign vc = 0 %}<!-- end vcenter --><div class="clear"></div>{% endif %}
{% endif %}
{% endfor %}
{% if vc == 1 %}</div><!-- End vcenter -->{% endif %}
