.button-group .button {

    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
    text-transform: none;
    font-size: 0.9rem;
    font-stretch: 80%;
}


.filter .button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: calc(3em + 2px);
  line-height: 3em;
  letter-spacing: normal;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:active, button.active, .button.is-checked {
    background-color: #28F;
}

.grid-container {margin-top: 20px;margin-left: -10px}
/*.single-portfolio {float: left;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    width: 277px;}

*/

.grid-item {
  background: rgba(255,255,255,0.1);
  border-radius: 3px;
  padding: 0.3em 0.5em;
}

.tag {
  background-color: #fff;
  border: none;
  color: black;
  font-size: 0.6em;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 2px;
  border-radius: 3px;
}

a.tag-link:hover {
  background-color: black;
}

.grid-main {
  margin-top: 1rem;
}

.grid-item {
  height: 100px;
  border-radius: 3px;
  background: #e6e5e4;
  border: 4px solid #000;
  text-align: center;
  margin: 0 0.5rem 2rem 0;
}

.grid-item.category-a {
  border: solid 4px rgba(128,0,0,1);
  background-color: rgba(128,0,0,0.25);
}

.grid-item.category-b {
  border: solid 4px rgba(170,110,40,1);
  background-color: rgba(170,110,40,0.25);
}

.grid-item.category-c {
  border: solid 4px rgba(128,128,0,1);
  background-color: rgba(128,128,0,0.25);
}

.grid-item.category-d {
  border: solid 4px rgba(0,128,128,1);;
  background-color: rgba(0,128,128,0.25);
}


.categories {
  position: absolute;
  bottom: .2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.category {
  border: 1px solid;
  padding: 0.15rem;
}

span.category-a {
  background-color: red;
  color: #fff;
}

span.category-b {
  background-color: green;
  color: #fff;
}

span.category-c {
  background-color: blue;
  color: #fff;
}

.category1 {

}
