---

---
@import 'hexagons';
@import 'grid';

body {
  background: none;
  background-color: #fff;
}

a {
  color: #333;
}

a:hover {
  color: #0790CA;
}

.column.main, #menu.column  {
  padding: 0;
  margin: 0;
}

#banner {
  background-image: url(/assets/images/20200729_COBI-948-V1-1-scaled-e1626708031285-1024x575.jpg);
}


.vcenter {
  display: flex;
  align-items: center;
}

input[type=checkbox] {
	-moz-appearance: checkbox;
	-webkit-appearance: checkbox;
	-ms-appearance: checkbox;
	appearance: checkbox;
}

input.checkbox,
input[type="checkbox"]{
display:inline-block;
width:auto;
margin:0;
padding:0;
border:0;
background:none;
vertical-align:center;
*vertical-align: top;
}

label.inline{display:inline;width:auto;margin:0 20px 0 5px;}

.icon.major {
  background-color: #fff;
  background-image: none;
  box-shadow: none;
}

.grid-item {
  width: 200px;
}

.column{padding:10px;}

#menu {
  z-index: 999;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0;
}

#content {
  /*background-color: #fff;
  position: relative;*/
}

.overlay-badge {
    position: fixed;
    right: 0;
    bottom: 0px;
    z-index: 999;
  }

  .wrapper.style2 {
    background-color: #fff;
    background-image: url("/html5up-arcana/assets/css/images/bg02.png"), url("/html5up-arcana/assets/css/images/bg03.png"), url("/html5up-arcana/assets/css/images/bg01.png");
    background-position: top left,						bottom left,					top left;
    background-size: 100% 6em,						100% 6em,						auto;
    background-repeat: no-repeat,						no-repeat,						repeat;
  }

  .wrapper.style3 {
    background-color: #37c0fb;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/html5up-arcana/assets/css/images/bg01.png");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/html5up-arcana/assets/css/images/bg01.png");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/html5up-arcana/assets/css/images/bg01.png");
    background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("/html5up-arcana/assets/css/images/bg01.png");
    color: #fff;
  }

#home-page-header-text {
  z-index: 800;
  width: 100%;
    margin-top: -00px;
    position: relative;
    top: 0px;
    background-color: rgba(200,200,200,0.5);
}

div.img-ex {
  background-image: url(https://via.placeholder.com/450);
}

#logo {
  font-size: 2em;
  padding-top: 0.25em;
  font-family:sans-serif;
}
