<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="grid">
<div class="col_12 main" style="margin-top:0px;">
  {% include menu.html %}
  <div id="header">
    <div class="col_1" id="logo">{{ site.title-abbr }}</div>

  </div>




      <div id="content" class="col_12">

        <h2>{{ page.title }}</h2>
        {{ content }}
        <!--<div class="col_12">{% include hexagons.html %}</div>-->
      </div>
	</div>
  {% include footer.html %}
</div> <!-- End Grid -->
{% include scripts.html %}
</body>
</html>
