<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="grid flex">
  <div id="header">
    <div class="col_1" id="logo">{{ site.title-abbr }}</div>
    <div class="col_11">{% include menu.html %}</div>
  </div>

	<div class="col_12" style="margin-top:100px;">


      <div id="content" class="col_12">

        <h2>{{ page.title }}</h2>
        {{ content }}
        <!--<div class="col_12">{% include hexagons.html %}</div>-->
      </div>
	</div>
</div> <!-- End Grid -->
{% include scripts.html %}
</body>
</html>
