<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<div class="grid">

<div class="col_12 main" style="margin-top:0;">
{% include menu.html %}
<div id="home-page-header-text">
  <h1 class="center">{{ site.title }}</h1>
  <h2 class="center"><em>{{ site.tagline }}</em></h2>
</div>
    <img class="full-width" src="{{ '/assets/images/20200729_COBI-948-V1-1-scaled-e1626708031285-1024x575.jpg'| relative_url }}" alt="Two people looking at a plant" />

      <div id="content" class="col_12">
        {{ content }}
        <!--<div class="col_12">{% include hexagons.html %}</div>-->
      </div>
	</div><!-- End .main -->
  {% include footer.html %}
</div> <!-- End Grid -->
{% include scripts.html %}
</body>
</html>
